# SQL –Ω–∞ python —Å –Ω—É–ª—è


<p style="align: center;"><img align=center src="https://www.freecodecamp.org/news/content/images/2020/08/Untitled-design-1-.png"  width=400></p>

In [ ]:
# –ü–æ–¥—Ä–æ–±–Ω—ã–π —Ä–∞–∑–±–æ—Ä –ø—Ä–∏–≤–µ–¥–µ–Ω —Ç—É—Ç https://habr.com/ru/post/321510/

In [3]:
import sqlite3 # –ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫—É, —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â—É—é —Ç–∏–ø—É –Ω–∞—à–µ–π –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö

–° –±–∞–∑–æ–π –º–æ–∂–Ω–æ —Ä–∞–±–æ—Ç–∞—Ç—å –∏ –≤–æ –≤—Å—è–∫–∏—Ö —Ä–µ–¥–∞–∫—Ç–æ—Ä–∞—Ö. –°–æ–≤–µ—Ç—É—é –≤–æ—Ç —ç—Ç—É
# https://sqlitestudio.pl/


<p style="align: center;"><img align=center src="https://habrastorage.org/files/38a/503/ff2/38a503ff27b846e4aac2411fb0fdf614.png"  width=400></p>

In [ ]:
–°–∫–∞—á–∞–µ–º —Å–µ–±–µ –≥–æ—Ç–æ–≤—É—é –±–∞–∑—É

https://github.com/lerocha/chinook-database/blob/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite

# –ì–ª–∞–≤–Ω—ã–π —à–∞–±–ª–æ–Ω

In [91]:
# –°–æ–∑–¥–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –Ω–∞—à–µ–π –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö
# –í –Ω–∞—à–µ–º –ø—Ä–∏–º–µ—Ä–µ —É –Ω–∞—Å —ç—Ç–æ –ø—Ä–æ—Å—Ç–æ —Ñ–∞–π–ª –±–∞–∑—ã
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# –°–æ–∑–¥–∞–µ–º –∫—É—Ä—Å–æ—Ä - —ç—Ç–æ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã–π –æ–±—ä–µ–∫—Ç –∫–æ—Ç–æ—Ä—ã–π –¥–µ–ª–∞–µ—Ç –∑–∞–ø—Ä–æ—Å—ã –∏ –ø–æ–ª—É—á–∞–µ—Ç –∏—Ö —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã
cursor = conn.cursor()

# –¢–£–¢ –ë–£–î–ï–¢ –ù–ê–® –ö–û–î –†–ê–ë–û–¢–´ –° –ë–ê–ó–û–ô –î–ê–ù–ù–´–•
# –ö–û–î –î–ê–õ–¨–ù–ï–ô–®–ò–• –ü–†–ò–ú–ï–†–û–í –í–°–¢–ê–í–õ–Ø–¢–¨ –í –≠–¢–û –ú–ï–°–¢–û

# –ù–µ –∑–∞–±—ã–≤–∞–µ–º –∑–∞–∫—Ä—ã—Ç—å —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö
#conn.close()

 –Ω–æ —á—Ç–æ –µ—Å–ª–∏ –∑–∞–∫—Ä—ã—Ç—å/–Ω–µ –∑–∞–∫—Ä—ã—Ç—å?

# –ß—Ç–µ–Ω–∏–µ –∏–∑ –±–∞–∑—ã

In [97]:
# –î–µ–ª–∞–µ–º SELECT –∑–∞–ø—Ä–æ—Å –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö, –∏—Å–ø–æ–ª—å–∑—É—è –æ–±—ã—á–Ω—ã–π SQL-—Å–∏–Ω—Ç–∞–∫—Å–∏—Å
cursor.execute("SELECT Name FROM Artist LIMIT 3")

 

# –ü–æ–ª—É—á–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç —Å–¥–µ–ª–∞–Ω–Ω–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞
results = cursor.fetchall()
results2 =  cursor.fetchall()

print(results)   # [('A Cor Do Som',), ('Aaron Copland & London Symphony Orchestra',), ('Aaron Goldberg',)]
print(results2)  # []


# –ù–µ –∑–∞–±—ã–≤–∞–µ–º –∑–∞–∫—Ä—ã—Ç—å —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö
#conn.close()

[('AC/DC',), ('Accept',), ('Aerosmith',)]
[]

# –°–ª–∏—à–∫–æ–º –ø—Ä–æ—Å—Ç–æ? –ù—É, —Ç–∞–∫ –∏ –¥–æ–ª–∂–Ω–æ –±—ã—Ç—å!

<p style="align: center;"><img align=center src="https://lh3.googleusercontent.com/proxy/qlD_MrTxT8OWbvjyTCHq1I9N4a1hbxkX_zzVdufnm2R0iK9VFdMH6ZhDc4Qzzp4o2BF5G3-Q5CEvgNuetGamESF41nQ"  width=400></p>

–û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ: –ü–æ—Å–ª–µ –ø–æ–ª—É—á–µ–Ω–∏—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞ –∏–∑ –∫—É—Ä—Å–æ—Ä–∞, –≤—Ç–æ—Ä–æ–π —Ä–∞–∑ –±–µ–∑ –ø–æ–≤—Ç–æ—Ä–µ–Ω–∏—è —Å–∞–º–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞ –µ–≥–æ –ø–æ–ª—É—á–∏—Ç—å –Ω–µ–ª—å–∑—è ‚Äî –≤–µ—Ä–Ω–µ—Ç—Å—è –ø—É—Å—Ç–æ–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç!

# –ó–∞–ø–∏—Å—å –≤ –±–∞–∑—É

In [107]:
# –î–µ–ª–∞–µ–º INSERT –∑–∞–ø—Ä–æ—Å –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö, –∏—Å–ø–æ–ª—å–∑—É—è –æ–±—ã—á–Ω—ã–π SQL-—Å–∏–Ω—Ç–∞–∫—Å–∏—Å
#cursor.execute("insert into Artist values (Null, 'A Aagrh!') ")
cursor.execute("INSERT INTO Artist VALUES (Null, 'Los Angeles')")

 
conn.commit() # –ï—Å–ª–∏ –º—ã –Ω–µ –ø—Ä–æ—Å—Ç–æ —á–∏—Ç–∞–µ–º, –Ω–æ –∏ –≤–Ω–æ—Å–∏–º –∏–∑–º–µ–Ω–µ–Ω–∏—è –≤ –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö - –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Å–æ—Ö—Ä–∞–Ω–∏—Ç—å —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—é


# –ü—Ä–æ–≤–µ—Ä—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
cursor.execute("SELECT Name FROM Artist ORDER BY Name LIMIT 3")
results = cursor.fetchall()
print(results)  # [('A Aagrh!',), ('A Cor Do Som',), ('Aaron Copland & London Symphony Orchestra',)]

[('A Aagrh!',), ('A Aagrh!',), ('A Aagrh!',)]

–ü—Ä–∏–º–µ—á–∞–Ω–∏–µ: –ï—Å–ª–∏ –∫ –±–∞–∑–µ —É—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–æ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–π –∏ –æ–¥–Ω–æ –∏–∑ –Ω–∏—Ö –æ—Å—É—â–µ—Å—Ç–≤–ª—è–µ—Ç –º–æ–¥–∏—Ñ–∏–∫–∞—Ü—é –±–∞–∑—ã, —Ç–æ –±–∞–∑–∞ SQLite –∑–∞–ª–æ—á–∏–≤–∞–µ—Ç—Å—è –¥–æ –∑–∞–≤–µ—Ä—à–µ–Ω–∏—è (–º–µ—Ç–æ–¥ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏—è .commit()) –∏–ª–∏ –æ—Ç–º–µ–Ω—ã (–º–µ—Ç–æ–¥ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏—è .rollback()) —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏.

# –†–∞–∑–±–∏–≤–∞–µ–º –∑–∞–ø—Ä–æ—Å –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫ –≤ —Ç—Ä–æ–π–Ω—ã—Ö –∫–∞–≤—ã—á–∫–∞—Ö

–î–ª–∏–Ω–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã –º–æ–∂–Ω–æ —Ä–∞–∑–±–∏–≤–∞—Ç—å –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫ –≤ –ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–æ–º –ø–æ—Ä—è–¥–∫–µ,

–µ—Å–ª–∏ –æ–Ω–∏ –∑–∞–∫–ª—é—á–µ–Ω—ã –≤ —Ç—Ä–æ–π–Ω—ã–µ –∫–∞–≤—ã—á–∫–∏ ‚Äî –æ–¥–∏–Ω–∞—Ä–Ω—ã–µ ('''‚Ä¶''') –∏–ª–∏ –¥–≤–æ–π–Ω—ã–µ ("""...""")

In [108]:
sql = """
  SELECT name
  FROM Artist
  ORDER BY Name LIMIT 3
"""


cursor.execute(sql)

# –û–±—ä–µ–¥–∏–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å—ã –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –≤ –æ–¥–∏–Ω –≤—ã–∑–æ–≤ –º–µ—Ç–æ–¥–∞

–ú–µ—Ç–æ–¥ –∫—É—Ä—Å–æ—Ä–∞ .execute() –ø–æ–∑–≤–æ–ª—è–µ—Ç –¥–µ–ª–∞—Ç—å —Ç–æ–ª—å–∫–æ –æ–¥–∏–Ω –∑–∞–ø—Ä–æ—Å –∑–∞ —Ä–∞–∑, –ø—Ä–∏ –ø–æ–ø—ã—Ç–∫–µ —Å–¥–µ–ª–∞—Ç—å –Ω–µ—Å–∫–æ–ª—å–∫–æ —á–µ—Ä–µ–∑ —Ç–æ—á–∫—É —Å –∑–∞–ø—è—Ç–æ–π –±—É–¥–µ—Ç –æ—à–∏–±–∫–∞.

In [ ]:
#–ü—Ä–∞–≤–∏–ª—å–Ω–æ!
cursor.execute("""insert into Artist values (Null, 'A Aagrh!');""")
cursor.execute("""insert into Artist values (Null, 'A Aagrh-2!');""")

–î–ª—è —Ä–µ—à–µ–Ω–∏—è —Ç–∞–∫–æ–π –∑–∞–¥–∞—á–∏ –º–æ–∂–Ω–æ –ª–∏–±–æ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Ä–∞–∑ –≤—ã–∑—ã–≤–∞—Ç—å –º–µ—Ç–æ–¥ –∫—É—Ä—Å–æ—Ä–∞ .execute()

In [ ]:
#–ù–µ–ø—Ä–∞–≤–∏–ª—å–Ω–æ!
cursor.execute("""
	insert into Artist values (Null, 'A Aagrh!');
	insert into Artist values (Null, 'A Aagrh-2!');
""")
# sqlite3.Warning: You can only execute one statement at a time.

–õ–∏–±–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –º–µ—Ç–æ–¥ –∫—É—Ä—Å–æ—Ä–∞ .executescript()

In [ ]:
cursor.executescript("""
 insert into Artist values (Null, 'A Aagrh!');
 insert into Artist values (Null, 'A Aagrh-2!');
""")

–î–∞–Ω–Ω—ã–π –º–µ—Ç–æ–¥ —Ç–∞–∫–∂–µ —É–¥–æ–±–µ–Ω, –∫–æ–≥–¥–∞ —É –Ω–∞—Å –∑–∞–ø—Ä–æ—Å—ã —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã –≤ –æ—Ç–¥–µ–ª—å–Ω–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π –∏–ª–∏ –¥–∞–∂–µ –≤ —Ñ–∞–π–ª–µ –∏ –Ω–∞–º –µ–≥–æ –Ω–∞–¥–æ –ø—Ä–∏–º–µ–Ω–∏—Ç—å —Ç–∞–∫–æ–π –∑–∞–ø—Ä–æ—Å –∫ –±–∞–∑–µ.

# –î–µ–ª–∞–µ–º –º–Ω–æ–∂–µ—Å—Ç–≤–µ–Ω–Ω—É—é –≤—Å—Ç–∞–≤–∫—É —Å—Ç—Ä–æ–∫ –ø—Ä–æ—Ö–æ–¥—è –ø–æ –∫–æ–ª–ª–µ–∫—Ü–∏–∏ —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ –∫—É—Ä—Å–æ—Ä–∞ .executemany()

In [ ]:
# –û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, –¥–∞–∂–µ –ø–µ—Ä–µ–¥–∞–≤–∞—è –æ–¥–Ω–æ –∑–Ω–∞—á–µ–Ω–∏–µ - –µ–≥–æ –Ω—É–∂–Ω–æ –ø–µ—Ä–µ–¥–∞–≤–∞—Ç—å –∫–æ—Ä—Ç–µ–∂–µ–º!
# –ò–º–µ–Ω–Ω–æ –ø–æ —ç—Ç–æ–º—É —Ç—É—Ç –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –∑–∞–ø—è—Ç–∞—è –≤ —Å–∫–æ–±–∫–∞—Ö!
new_artists = [
    ('A Aagrh!',),
    ('A Aagrh!-2',),
    ('A Aagrh!-3',),
]
cursor.executemany("insert into Artist values (Null, ?);", new_artists)

# –ü–æ–ª—É—á–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –ø–æ –æ–¥–Ω–æ–º—É, –∏—Å–ø–æ–ª—å–∑—É—è –º–µ—Ç–æ–¥ –∫—É—Ä—Å–æ—Ä–∞ .fetchone()

–û–Ω –≤—Å–µ–≥–¥–∞ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∫–æ—Ä—Ç–µ–∂ –∏–ª–∏ None. –µ—Å–ª–∏ –∑–∞–ø—Ä–æ—Å –ø—É—Å—Ç–æ–π.

In [ ]:
cursor.execute("SELECT Name FROM Artist ORDER BY Name LIMIT 3")
print(cursor.fetchone())    # ('A Cor Do Som',)
print(cursor.fetchone())    # ('Aaron Copland & London Symphony Orchestra',)
print(cursor.fetchone())    # ('Aaron Goldberg',)
print(cursor.fetchone())    # None

–í–∞–∂–Ω–æ! –°—Ç–∞–Ω–¥–∞—Ä—Ç–Ω—ã–π –∫—É—Ä—Å–æ—Ä –∑–∞–±–∏—Ä–∞–µ—Ç –≤—Å–µ –¥–∞–Ω–Ω—ã–µ —Å —Å–µ—Ä–≤–µ—Ä–∞ —Å—Ä–∞–∑—É, –Ω–µ –∑–∞–≤–∏—Å–∏–º–æ –æ—Ç —Ç–æ–≥–æ, –∏—Å–ø–æ–ª—å–∑—É–µ–º –º—ã .fetchall() –∏–ª–∏ .fetchone()

# –ü–æ–≤—ã—à–∞–µ–º —É—Å—Ç–æ–π—á–∏–≤–æ—Å—Ç—å –∫–æ–¥–∞
–î–ª—è –±–æ–ª—å—à–µ–π —É—Å—Ç–æ–π—á–∏–≤–æ—Å—Ç–∏ –ø—Ä–æ–≥—Ä–∞–º–º—ã (–æ—Å–æ–±–µ–Ω–Ω–æ –ø—Ä–∏ –æ–ø–µ—Ä–∞—Ü–∏—è—Ö –∑–∞–ø–∏—Å–∏) –º–æ–∂–Ω–æ –æ–±–æ—Ä–∞—á–∏–≤–∞—Ç—å –∏–Ω—Å—Ç—Ä—É–∫—Ü–∏–∏ –æ–±—Ä–∞—â–µ–Ω–∏—è –∫ –ë–î –≤ –±–ª–æ–∫–∏ ¬´try-except-else¬ª –∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≤—Å—Ç—Ä–æ–µ–Ω–Ω—ã–π –≤ sqlite3 ¬´—Ä–æ–¥–Ω–æ–π¬ª –æ–±—ä–µ–∫—Ç –æ—à–∏–±–æ–∫, –Ω–∞–ø—Ä–∏–º–µ—Ä, —Ç–∞–∫:

In [ ]:
try:
    cursor.execute(sql_statement)
    result = cursor.fetchall()
except sqlite3.DatabaseError as err:       
    print("Error: ", err)
else:
    conn.commit()

# –ü—Ä–∏–º–µ—Ä –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è –≤ –∫–æ–¥–µ

In [9]:
# –ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫—É, —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â—É—é —Ç–∏–ø—É –Ω–∞—à–µ–π –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö 
import sqlite3

# –°–æ–∑–¥–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –Ω–∞—à–µ–π –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö
# –í –Ω–∞—à–µ–º –ø—Ä–∏–º–µ—Ä–µ —É –Ω–∞—Å —ç—Ç–æ –ø—Ä–æ—Å—Ç–æ —Ñ–∞–π–ª –±–∞–∑—ã
conn = sqlite3.connect('database.sqlite')
cursor = conn.cursor() # –°–æ–∑–¥–∞–µ–º –∫—É—Ä—Å–æ—Ä  


# –ù–µ –∑–∞–±—ã–≤–∞–µ–º –∑–∞–∫—Ä—ã—Ç—å —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö
#conn.close()

def create_table():
    cursor.execute("""CREATE TABLE tourists (u_id integer, m_text text, city text, date text) """)
    return 0

def get_Data(city):
    sql = "SELECT * FROM tourists WHERE city=%s" % city
    cursor.execute(sql)
    conn.commit()
    return cursor.fetchall()

def add_Data(id, text, city, date):
    cursor.execute("INSERT INTO tourists VALUES (?,?,?,?)", (id, text, city, date))
    conn.commit()
    
def Update_Data(group_id, i):                     # –î–æ–±–∞–≤–ª—è–µ–º –±–∞–ª–ª
    req ="UPDATE tourists SET count=? WHERE group_id=?;"
    cursor.execute(req, (i, group_id))
    conn.commit()

# –≠—Ç–∞ —è—á–µ–π–∫–∞ –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç. –ü—Ä–∏–≤–µ–¥–µ–Ω–∞ –ø—Ä–æ—Å—Ç–æ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –¥–µ–º–æ–Ω—Å—Ç—Ä–∞—Ü–∏–∏! 
# –≠—Ç–∞ —è—á–µ–π–∫–∞ –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç. –ü—Ä–∏–≤–µ–¥–µ–Ω–∞ –ø—Ä–æ—Å—Ç–æ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –¥–µ–º–æ–Ω—Å—Ç—Ä–∞—Ü–∏–∏!
# –≠—Ç–∞ —è—á–µ–π–∫–∞ –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç. –ü—Ä–∏–≤–µ–¥–µ–Ω–∞ –ø—Ä–æ—Å—Ç–æ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –¥–µ–º–æ–Ω—Å—Ç—Ä–∞—Ü–∏–∏!
# –≠—Ç–∞ —è—á–µ–π–∫–∞ –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç. –ü—Ä–∏–≤–µ–¥–µ–Ω–∞ –ø—Ä–æ—Å—Ç–æ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –¥–µ–º–æ–Ω—Å—Ç—Ä–∞—Ü–∏–∏!

# –ê –∫–∞–∫ –∂–µ pandas? 
–ü—Ä–æ—Å—Ç–µ–Ω—å–∫–∞—è –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–∞ –¥–ª—è –ø—Ä–æ—Å—Ç—ã—Ö –ø—Ä–æ–µ–∫—Ç–æ–≤

In [109]:
import pandas as pd

# –°–æ–∑–¥–∞–µ–º —Ç–∞–±–ª–∏—Ü—É

In [110]:
DATA = pd.DataFrame(columns=['id','–ò–º—è', '–¢–µ–∫—Å—Ç–∞'])
 
DATA.loc[len(DATA)] = [1, '–ê–ª–µ–∫—Å–∞–Ω–¥—Ä', '–ö–∞–∫–æ–π-—Ç–æ –≤–∞—à —Ç–µ–∫—Å—Ç']
DATA.loc[len(DATA)] = [2, '–î–º–∏—Ç—Ä–∏–π', '–ï—â–µ –∫–∞–∫–æ–π-—Ç–æ —Ç–µ–∫—Å—Ç']
DATA.loc[len(DATA)] = [3, '–ê–Ω–¥—Ä–µ–π', '–ò —Å–Ω–æ–≤–∞ –∫–∞–∫–æ–π-—Ç–æ —Ç–µ–∫—Å—Ç']

DATA

  id        –ò–º—è                  –¢–µ–∫—Å—Ç–∞
0  1  –ê–ª–µ–∫—Å–∞–Ω–¥—Ä      –ö–∞–∫–æ–π-—Ç–æ –≤–∞—à —Ç–µ–∫—Å—Ç
1  2    –î–º–∏—Ç—Ä–∏–π      –ï—â–µ –∫–∞–∫–æ–π-—Ç–æ —Ç–µ–∫—Å—Ç
2  3     –ê–Ω–¥—Ä–µ–π  –ò —Å–Ω–æ–≤–∞ –∫–∞–∫–æ–π-—Ç–æ —Ç–µ–∫—Å—Ç

# –°–æ—Ö—Ä–∞–Ω—è–µ–º —Ç–∞–±–ª–∏—Ü—É

In [82]:
DATA.to_csv('DATA.csv')  # 0.68

# –°–Ω–æ–≤–∞ –æ—Ç–∫—Ä—ã–≤–∞–µ–º —Ç–∞–±–ª–∏—Ü—É

In [111]:
Data_again = pd.read_csv('DATA.csv', index_col=0) # , index_col=0 !!!
Data_again

   id        –ò–º—è                  –¢–µ–∫—Å—Ç–∞
0   1  –ê–ª–µ–∫—Å–∞–Ω–¥—Ä      –ö–∞–∫–æ–π-—Ç–æ –≤–∞—à —Ç–µ–∫—Å—Ç
1   2    –î–º–∏—Ç—Ä–∏–π      –ï—â–µ –∫–∞–∫–æ–π-—Ç–æ —Ç–µ–∫—Å—Ç
2   3     –ê–Ω–¥—Ä–µ–π  –ò —Å–Ω–æ–≤–∞ –∫–∞–∫–æ–π-—Ç–æ —Ç–µ–∫—Å—Ç

In [112]:
Data_again[Data_again.id==1]['–¢–µ–∫—Å—Ç–∞']

0    –ö–∞–∫–æ–π-—Ç–æ –≤–∞—à —Ç–µ–∫—Å—Ç
Name: –¢–µ–∫—Å—Ç–∞, dtype: object

–Ω–æ –≤—Å–µ —Ä–∞–≤–Ω–æ –Ω–µ SQL =(

# –¢–µ–ø–µ—Ä—å –ø—Ä–∏–≤—è–∂–µ–º –±–¥ –∫ –±–æ—Ç—É!

In [124]:
conn = sqlite3.connect('data.sqlite')

# –°–æ–∑–¥–∞–µ–º –∫—É—Ä—Å–æ—Ä - —ç—Ç–æ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã–π –æ–±—ä–µ–∫—Ç –∫–æ—Ç–æ—Ä—ã–π –¥–µ–ª–∞–µ—Ç –∑–∞–ø—Ä–æ—Å—ã –∏ –ø–æ–ª—É—á–∞–µ—Ç –∏—Ö —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã
cursor = conn.cursor()

In [126]:
def create_table():
    cursor.execute("""CREATE TABLE visitors_tg (tg_nik text, data text, sent_text text) """)
    return 0

create_table()

0

In [136]:
def insert_data(tg_nik, data, sent_text):
    conn = sqlite3.connect('data.sqlite')
    cursor = conn.cursor()
    cursor.execute("INSERT INTO visitors_tg VALUES (?,?,?)", (tg_nik, data, sent_text))
    conn.commit()
    conn.close()

In [131]:
tg_nik, data, sent_text = 'some_nik', '230980234', 'some text'
insert_data(tg_nik, data, sent_text)

In [132]:
cursor.execute("SELECT * FROM visitors_tg ORDER BY tg_nik LIMIT 3")
results = cursor.fetchall()
print(results)

[('some_nik', '230980234', 'some text')]

In [140]:
import random

import telebot
from telebot import types

Token = ' –≤–∞—à —Ç–æ–∫–µ–Ω –±–æ—Ç–∞'  # –í–∞—à –¢–æ–∫–µ–Ω –∏–∑ BotFather  –£ –≤–∞—Å –¥–æ–ª–∂–µ–Ω –±—ã—Ç—å —Å–≤–æ–π —Ç–æ–∫–µ–Ω
bot = telebot.TeleBot(Token)


@bot.message_handler(commands=['start'])
def welcome(message):
    # keyboard
    
    markup = types.ReplyKeyboardMarkup(resize_keyboard=True)
    item1 = types.KeyboardButton("üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ")
    item2 = types.KeyboardButton("üòä –ö–∞–∫ –¥–µ–ª–∞?")
    markup.add(item1, item2)
 
    bot.send_message(message.chat.id, "–î–æ–±—Ä–æ –ø–æ–∂–∞–ª–æ–≤–∞—Ç—å, {0.first_name}!\n–Ø - <b>{1.first_name}</b>, –±–æ—Ç —Å–æ–∑–¥–∞–Ω–Ω—ã–π —á—Ç–æ–±—ã –±—ã—Ç—å –ø–æ–¥–æ–ø—ã—Ç–Ω—ã–º –∫—Ä–æ–ª–∏–∫–æ–º.".format(message.from_user, bot.get_me()),
        parse_mode='html', reply_markup=markup)


@bot.message_handler(content_types=['text'])
def lalala(message):
     
    name = message.from_user.username
    date = message.date
    text = message.text
    print(name, date, text)
    insert_data(name, date, text)
    
    if message.chat.type == 'private':
        if message.text == 'üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ':
            bot.send_message(message.chat.id, str(random.randint(0,100)))
        elif message.text == 'üòä –ö–∞–∫ –¥–µ–ª–∞?':
 
            markup = types.InlineKeyboardMarkup(row_width=2)
            item1 = types.InlineKeyboardButton("–•–æ—Ä–æ—à–æ", callback_data='good')
            item2 = types.InlineKeyboardButton("–ù–µ –æ—á–µ–Ω—å", callback_data='bad')
 
            markup.add(item1, item2)
 
            bot.send_message(message.chat.id, '–û—Ç–ª–∏—á–Ω–æ, —Å–∞–º –∫–∞–∫?', reply_markup=markup)
        else:
            bot.send_message(message.chat.id, '–Ø –Ω–µ –∑–Ω–∞—é —á—Ç–æ –æ—Ç–≤–µ—Ç–∏—Ç—å üò¢')
            
            
@bot.callback_query_handler(func=lambda call: True)
def callback_inline(call):
    try:
        if call.message:
            if call.data == 'good':
                bot.send_message(call.message.chat.id, '–í–æ—Ç –∏ –æ—Ç–ª–∏—á–Ω–µ–Ω—å–∫–æ üòä')
            elif call.data == 'bad':
                bot.send_message(call.message.chat.id, '–ë—ã–≤–∞–µ—Ç üò¢')
 
            # remove inline buttons
            bot.edit_message_text(chat_id=call.message.chat.id, message_id=call.message.message_id, text="üòä –ö–∞–∫ –¥–µ–ª–∞?",
                reply_markup=None)
 
            # show alert
            bot.answer_callback_query(callback_query_id=call.id, show_alert=False,
                text="–≠–¢–û –¢–ï–°–¢–û–í–û–ï –£–í–ï–î–û–ú–õ–ï–ù–ò–ï!!11")
 
    except Exception as e:
        print(repr(e))
 

# RUN, –í–∞—Å—è, RUN!
bot.polling(none_stop=True)


# –í—Ä–µ–º—è –≤ Unix time —Ñ–æ—Ä–º–∞—Ç–µ

None 1607155208 None 1607155208 üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ
üòä –ö–∞–∫ –¥–µ–ª–∞?
NoneNone 1607155211 üòä –ö–∞–∫ –¥–µ–ª–∞?
 1607155211 üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ
None 1607155212 üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ
None 1607155212 üòä –ö–∞–∫ –¥–µ–ª–∞?
None 1607155212 üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ
ApiTelegramException('A request to the Telegram API was unsuccessful. Error code: 400 Description: Bad Request: message is not modified: specified new message content and reply markup are exactly the same as a current content and reply markup of the message')
None 1607155228 üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ
None 1607155233 üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ
None 1607155239 –ü—Ä–∏–≤–µ—Ç–∏–∫
agrlx 1607155240 –ü—Ä–∏–≤–µ—Ç—ã
agrlx 1607155263 —ã–≤—ã–≤
WestEST77 1607155281 –ü—Ä–∏–≤–µ—Ç!

In [142]:
cursor.execute("SELECT * FROM visitors_tg ORDER BY tg_nik")
results = cursor.fetchall()
print(results)

[(None, '1607155161', '5'), (None, '1607155178', 'üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ'), (None, '1607155180', 'üòä –ö–∞–∫ –¥–µ–ª–∞?'), (None, '1607155186', 'üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ'), (None, '1607155194', 'üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ'), (None, '1607155196', 'üòä –ö–∞–∫ –¥–µ–ª–∞?'), (None, '1607155208', 'üòä –ö–∞–∫ –¥–µ–ª–∞?'), (None, '1607155208', 'üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ'), (None, '1607155211', 'üòä –ö–∞–∫ –¥–µ–ª–∞?'), (None, '1607155211', 'üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ'), (None, '1607155212', 'üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ'), (None, '1607155212', 'üòä –ö–∞–∫ –¥–µ–ª–∞?'), (None, '1607155212', 'üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ'), (None, '1607155228', 'üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ'), (None, '1607155233', 'üé≤ –†–∞–Ω–¥–æ–º–Ω–æ–µ —á–∏—Å–ª–æ'), (None, '1607155239', '–ü—Ä–∏–≤–µ—Ç–∏–∫'), ('Aleron75infskin', '1607155038', 'üòä –ö–∞–∫ –¥–µ–ª–∞?'), ('Aleron75infskin', '1607155152', 'üòä –ö–∞–∫ –¥–µ–ª–∞?'), ('WestEST77', '1607155281', '–ü—Ä–∏–≤–µ—Ç!'), ('agrlx', '1607155240', '–ü—Ä–∏–≤–µ—Ç—ã'), ('agrlx', '1607155263', '—ã–≤—ã–≤'), ('some_nik', '230980234', 'some text')]